################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/x64/Debug
/UseQss/x64/Debug
/UseQss/x64/Release/qmake
/Common/*.user
/UseQss/*.user
/.vs/QtTest/v16
/ListenWindPlayer/x64
/x64/Release
/Qss/x64
*.user
/AddressBook/x64
/Common/x64
/RasterWindow/x64
/AnalogClock/x64
/LoginDialog/x64
/ProgressDialog/x64
/Chip/x64
/AnchorLayout/x64
/AreaChart/x64
/AnimatedTiles/x64
/Audio/x64
/AudioInput/x64
/Input Handing for Axes/x64
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3
/UnitTest/log
/UnitTest/x64/Debug
/ZoomLineChart/x64
/BarChart/x64
/BarModelMapper/x64
