################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/x64/Debug
/UseQss/x64/Debug
/UseQss/x64/Release/qmake
/Common/*.user
/UseQss/*.user
/.vs/QtTest/v16
/ListenWindPlayer/x64
/x64/Release
/Qss/x64
*.user
/AddressBook/x64
/Common/x64
/RasterWindow/x64
/AnalogClock/x64
/LoginDialog/x64
